@font-face {
    font-family: 'Pricedown Bl';
    font-style: normal;
    font-weight: 900;
    src: local('Pricedown Bl'), url('https://fonts.cdnfonts.com/s/4837/pricedown bl.woff') format('woff');
}


